
html {
  text-align: center;
  scroll-behavior: smooth;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

/********************  Header & Nav  ********************/


.header {
  height: 70px;
  display: flex;
  position: fixed;
  background: linear-gradient(
  rgba(34, 144, 147, 1), 
  rgba(34, 144, 147, 1)
  );
}

.header-logo {
  padding: 10px;
  width: 20vw;
  float: left;
  text-align: left;
}

.header img {
  max-height: 50px;
}

.header-nav {
  width: 80vw;
  padding: 12px;
  float: right;
  text-align: right;
}

.header-nav ul {
  list-style: none;
}

.header-nav ul li {
  display: inline;
}

.header-nav ul li a {
  padding: 8px 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

.header-nav ul li a:hover {
  background-color: white;
  color: rgb(34, 143, 147);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

#sponsor-button {
  color: white;
  border: 1px solid white;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

#sponsor-button:hover {
  background-color: white;
  color: rgb(34, 143, 147);
  border: 1px solid rgb(34, 143, 147);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

/********************  Hero Section  ********************/

.hero {
  display: block;
  padding: 5vh;
  margin: 0 auto;
  min-height: 400px;
  text-align: center;
  background:
  linear-gradient(
  rgba(34, 144, 147, 0),
  rgba(34, 144, 147, 1)
  ),
  url('./assets/images/quietfrontier.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}

.hero h2 {
  margin-top: 8vh;
  font-family: 'Permanent Marker';
  font-weight: lighter;
  text-transform: lowercase;
  color: white;
  font-size: 3em;
}

.hero p {
  max-width: 800px;
  margin: 25px auto 50px auto;
  color: white;
  font-size: 1.2em;
}

.hero img {
  padding: 1vw;
  margin: 50px 0 0 0;
  max-width: 700px;
}
 
#home-hero {
  max-height: 90vh;
}

#home-hero img {
  max-height: 90vh;
  margin: -100px auto 0 auto;
}

#page-hero {
  max-height: 90vh;
  background-position: center bottom;
}

#page-hero img {
  max-height: 90vh;
  margin: -100px auto 0 auto;
}

/********************  Scroll Button  ********************/


.scroll-link {
  height: 0;
  padding: 5px;
  text-align: center;
  transform: translateY(-80px);
}

.scroll-link a {
  color: white;
}

#scroll-anchor {
  height: 0;
}

/********************  Content Area  ********************/

.summit-info {
  max-width: 800px;
  margin: -50px auto 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blurbs-container {
  display: inline-flex;
}

.blurb-column {
  display: block !important;
}

#page-info {
  height: 50vh;
  max-width: 1000px;
}

.fundraiser-info {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;

}

.fundraiser-progress {
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  color: white;
  background: rgba(34, 144, 147, 1)
}

.learn-more {
  margin-top: 40px;
}

.learn-more a {
  padding: 8px 10px;
  border-radius: 5px;
  color: rgb(34, 143, 147);
  border: 1px solid rgb(34, 143, 147);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

.learn-more a:hover {
  background-color: rgb(34, 143, 147);
  color: white;
  border: 1px solid white;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}


/********************  Destinations Grid  ********************/


#destination-grid {
  max-width: 98vw;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#destination-grid h2 {
  color: white;
  margin-top: 20px;
  font-size: 2em;
}

#destination-grid a {
  width: 250px;
  margin: 15px;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  background: rgba(34, 144, 147, 1);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

#destination-grid a:hover {
  color: rgba(34, 144, 147, 0);
  background-color: rgba(34, 144, 147, 0);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

#destination-grid img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

#destination-grid img:hover {
  background: rgba(34, 144, 147, 1);
  box-shadow: 5px 5px 8px rgba(245, 245, 245, 0.75);
  transform: scale(3);
  z-index: 100;
  /* transform: translate(100px, 200px); */
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

/********************  Footer  ********************/


.footer {
  text-align: center;
  background: linear-gradient(
    rgba(34, 144, 147), 
    rgba(36, 105, 153)
  )
}

.footer-nav {
  padding: 5px;

}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  display: inline;
  margin: 10px;
}

.footer-nav ul li a {
  color: white;
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 5px;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

.footer-nav ul li a:hover {
  background-color: white;
  color: rgb(34, 143, 147);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}

#copyright, #credit {
  padding: 15px;
  color: white;
}

#copyright a, #credit a {
  color: white;
  text-decoration: underline;
}

#copyright img {
  max-height: 100px;
}

#copyright-shadow {
  background: linear-gradient(
    rgba(36, 105, 153, 0.3),
    rgba(34, 144, 147, 0.3)
  );
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  -webkit-transition: ease-in-out 1s;
}

#copyright-shadow:hover {
  box-shadow: 5px 5px 8px rgba(245, 245, 245, 0.75);
  transform: translate(-10px, -10px);
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
}


/********************  Media Queries  ********************/

@media screen and (min-width: 1690px) {

}

@media screen and (max-width: 980px) {
  .header {
    height: 65px;
  }

  .header-logo {
    display: none;
  }

  .header-nav {
    width: 100vw;
    text-align: center;
  }

  .header-nav ul {
    margin: 10px;
    padding: 0;
  }

  .header-nav ul li:first-child {
    display: none;
  }

  .header-nav ul li a {
    margin: 5px;
  }

  .hero h2 {
    margin-top: 10vh;
  }
  
  .footer-nav ul {
    margin: 0 auto;
  }

  .footer-nav ul li {
    display: block;
    margin: 15px;
  }

  .summit-info {
    margin: -20px 20px 20px 20px;
  }

  .fundraiser-progress {
    margin: 20px;

  }
}


@media screen and (max-width: 769px) {
  .header-nav ul li {
    display: none;
  }

  .header-nav ul li:last-child {
    display: unset;
    margin: 0;
  }

  .hero h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .hero img {
    padding: 1vw;
    margin: 50px auto 0 auto;
    max-width: 80vw;
  }

}

@media screen and (max-width: 480px) {
  .header {
    height: 60px;
  }

  .header-nav ul {
    margin-top: 5px;
    padding-left: 0;
  }

  .blurbs-container {
    display: block;
  }

  .blurb-column {
    margin-top: 20px;
  }
}