.App {
  text-align: center;
}

body {
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.95), 
      rgba(255, 255, 255, 0.9)
    ),
    url(./assets/images/topographic.png);
    background-repeat: repeat;
    background-size: contain;
}

.header img {
  max-height: 50px;
}

