@font-face {
  font-family: 'beyond_the_mountains';
  src: local('beyond_the_mountains'), url(./assets/fonts/beyond_the_mountains.otf) format('otf');
}

@font-face {
  font-family: 'LocalBreweryFour';
  src: local('LocalBreweryFour'), url(./assets/fonts/LocalBreweryFour.otf) format('otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
